<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Rekha Tenjarla",
    "url": "https://www.rekhatenjarla.com",
    "email": "rekha.tenjarla@gmail.com",
    "jobTitle": "Front End Developer",
    "worksFor": {
      "@type": "NewsMediaOrganization",
      "name": "The Atlantic",
      "url": "https://www.theatlantic.com"
    },
    "sameAs": [
      "https://twitter.com/rekhatenjarla",
      "https://github.com/rekhers",
      "https://www.linkedin.com/in/rekha-tenjarla-588a19112/",
    ]
  }
</script>
