.l-main {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-direction: column;
  font-family: $font-brown;
  font-size: $size-32;
  height: 100%;
  justify-content: center;
  line-height: 1.25;
  margin: $space-16;

  @include breakpoint($breakpoint-medium) {
    margin: $space-24;
    font-size: $size-48;
  }

  @include breakpoint($breakpoint-large) {
    margin: 0 auto;
    max-width: 970px;
  }
  a {
    color: $color-white;
    text-decoration: underline;
  }
}

.c-content {
  p:first-of-type {
    margin-bottom: $space-8;
  }
}

.c-subintro {
  font-size: $size-24;
  font-family: $font-tiempo;
  font-weight: 300;
}
