.l-projects {
  margin: $space-64 $space-16 90px $space-16;
  @include breakpoint($breakpoint-medium) {
    margin: $space-24 $space-24 90px $space-24;
  }
  @include breakpoint($breakpoint-large) {
    margin: $space-48 $space-48 90px $space-48;
    max-width: 1000px;
  }
  @include breakpoint($breakpoint-xlarge) {
    margin: $space-64 auto 110px auto;
  }
}
.c-projects__hed {
  color: $color-white;
  font-family: $font-brown;
  font-size: $size-32;
}
.c-projects__subhed {
  color: $color-white;
  font-size: $size-24;
  font-family: $font-tiempo;
  font-weight: 300;
  margin-bottom: $space-48;
}
.c-project-grid {
  color: $color-white;
  font-family: courier;
  font-size: $size-16;
  text-transform: lowercase;
  a {
    text-decoration: none;
  }

  @include breakpoint($breakpoint-medium) {
    display: grid;
    grid-gap: $space-24;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
.c-project-grid__item {
  margin-bottom: $space-24;

  @include breakpoint($breakpoint-medium){
    margin-bottom: 0;
  }

  &:hover {
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
.c-project-grid__item img {
  width: 100%;
}
.c-caption__name {
  font-style: italic;
}
