// ========================
//  Fonts
// ========================
$font-brown: "Brown";

$font-rubik: "Rubik", sans-serif;

$font-muli: "Muli", sans-serif;

$font-tiempo: "Tiempo";

// ========================
//  Space
// ========================

$space-4: 4px;

$space-8: 8px;

$space-12: 12px;

$space-16: 16px;

$space-24: 24px;

$space-32: 32px;

$space-48: 48px;

$space-64: 64px;

// ========================
//  Sizes
// ========================

$size-14: 14px;

$size-16: 16px;

$size-18: 18px;

$size-24: 24px;

$size-32: 32px;

$size-36: 36px;

$size-40: 40px;

$size-48: 48px;

$size-64: 64px;

// ========================
//  Widths
// ========================
$width-200: 200px;

// ========================
//  Colors
// ========================

$color-grey: #d8d8d8;

$color-dark-grey: #979797;

$color-shark: #222426;

$color-cyan: #00f6ed;

$color-bunker: #121d23;

$color-white: white;

// ========================
//  Font Weights
// ========================

$weight-bold: 600;

// ========================
//  Breakpoints
// ========================

/// Reverse Small device breakpoint
///
/// @type Variable
$breakpoint-xsmall: 575px;

/// Small device breakpoint
///
/// @type Variable
$breakpoint-small: 576px;

/// Medium device breakpoint
///
/// @type Variable
$breakpoint-medium: 784px;

/// Large device breakpoint
///
/// @type Variable
$breakpoint-large: 976px;

/// XLarge device breakpoint
///
/// @type Variable
$breakpoint-xlarge: 1200px;

@mixin breakpoint($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin reverse-breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
