<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  <main class="l-main" aria-label="Content">
    <h1 class="c-main__title"> Rekha Tenjarla </h1>
    <h2 class="c-main__subtitle"> front end developer </h2>
    <div class="c-social">
      <div class="c-social__email"> </div>
      <div class="c-social__twitter"> </div>
      <div class="c-social__linkedin"> </div>
      <div class="c-social__github"> </div>
    </div>
  </main>
</body>
</html>
