<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  {% include navigation.html %}

  <main class="l-main fade-in" aria-label="Content">
    <div class="c-content">
      <p>
        Hello. I'm Rekha Tenjarla, a front&nbsp;end developer living in Washington, D.C.
      </p>
      <p class="c-subintro">
        I collaborate with designers, developers, and product managers to build new features for <a href="https://www.theatlantic.com"> The Atlantic</a> and <a href="https://www.citylab.com">Citylab</a>.
      </p>

      <p class="c-subintro"> See some of my recent work <a href="{{site.baseurl}}/projects">here</a>.
      </p>
    </div>
  </main>
  {% include footer.html %}
  <script src="{{ "/assets/js/navigation.js" | prepend: site.baseurl }}"> </script>
</body>
</html>
