<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  <main class="l-main" aria-label="Content">
    <div class="c-content">
      <p>
        Hello. I'm Rekha Tenjarla, a front&nbsp;end developer living in Washington, D.C.
      </p>
      <p class="c-subintro">
        I collaborate with designers, developers, and product managers to build new features for <a href="https://www.theatlantic.com"> The Atlantic</a> and <a href="https://www.citylab.com">Citylab</a>.
      </p>

      <p class="c-subintro"> See some of my recent work <a href="{{site.baseurl}}/projects">here</a>.
      </p>
    </div>
  </main>
  <footer>
    © Rekha Tenjarla, forever.
  </footer>
</body>
</html>


<!-- <a class="c-social__email c-social__link" href="mailto:rekha.tenjarla@gmail.com"> EMAIL </a>
<a class="c-social__linkedin c-social__link" href="https://www.linkedin.com/in/rekha-tenjarla-588a19112/"> LINKEDIN </a>
<a class="c-social__github c-social__link" href="https://github.com/rekhers"> GITHUB </a> -->
