@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,500;1,200;1,400&display=swap");

html {
  background-color: black;
  color: #d6d6d6;
  font-family: "Roboto Mono", monospace;
}

:root {
  cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
}

a:hover {
  cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
}

.container {
  max-width: 750px;
  width: 100%;
  margin: 64px auto 64px auto;
}

h4 {
  letter-spacing: 0.2rem;
  font-size: 20px;
  padding: 0 32px;
  align-self: center;
  font-weight: 300;

  @media only screen and (min-width: 600px) {
    font-size: 24px;
    padding: unset;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-self: center;

  @media only screen and (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.project {
  margin: 24px 0;
  text-transform: lowercase;
  font-weight: 100;
  text-align: center;
  div {
    text-align: center;
    margin-top: 8px;
    font-family: "Raleway";
    letter-spacing: 0.1rem;

    @media only screen and (min-width: 600px) {
      width: fit-content;
    }
  }

  &:hover {
    div {
      color: white;
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-thickness: 1px;
      text-decoration-skip-ink: none;
      text-underline-offset: 3px;
      cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;
    }
  }
}

.project-image {
  width: 300px;
  height: 185px;
}
